		<!-- FOOTER -->
		<footer id="footer" class="container">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<ul class="footer-links">
									<li>								<img width="140" height="75" src="{{ basepath }}/templates/tksline/img/tks-line.png" alt=""/>
</li>
									<li style="color:#fff"><strong>								TKSLINE.IT fa parte del gruppo:</br>VGF GROUP s.r.l</strong>
</li>
									<li>								<img width="110" height="45" src="{{ basepath }}/templates/tksline/img/vgf-group.png" alt=""/>
</li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informazioni</h3>
								<ul class="footer-links">
									<li><a href="/contatti">Contattaci</a></li>
									<li><a href="/chi-siamo">Chi siamo</a></li>
									<li><a href="/terms-and-conditions">Termini e condizioni</a></li>
									<li><a href="/privacy-and-cookie-policy">Privacy & Cookie Policy</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servizio clienti</h3>
								<ul class="footer-links">
									<li><a href="#">Resi</a></li>
									<li><a href="#">Garanzia Adam</a></li>
									<li><a href="#">Costi e modalità di spedizione</a></li>
									<li><a href="#">Metodi di pagamento</a></li>
									<li><a href="#">Diventa rivenditore</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Contatti</h3>
								<ul class="footer-links">
									<li><a href="#">Indirizzo</a></li>
									<li><a href="#">telefono</a></li>
									<li><a href="#">Preferiti</a></li>
									<li><a href="#">Traccia il mio ordine</a></li>
									<li><a href="#">Aiuto</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer"style="margin:auto;">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<a href="https://templatespoint.net" target="_blank">NETESI&nbsp;365</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>